utilities/TPDP Patch/*.exe
utilities/TPDP Patch/dat
utilities/ExeStringTranslation/*.exe
utilities/ExeStringTranslation/Log.txt
utilities/ExeStringTranslation/save
utilities/ExeStringTranslation/tpdp_log.txt
utilities/ExeStringTranslation/tpdp_log_*.txt
utf8exports
dat/gn_dat5/script/talk/032/Memo.txt
.DS_Store
*/.DS_Store
